<form action="" method="POST">

    <div class="mt-5 mb-3" style="width:50%;">
        <label for="autocar">Selectionner une de vos voiture : </label>

        <select name="autocar">

            @foreach (var v in ViewBag.voitures)
            {
                <option value="@v.ID">@v.modele</option>
            }

        </select>
    </div>
    <div class="mb-3" style="width:50%;">
        <label for="villedp">Ville depart : </label>

        <select name="villedp">

            @foreach (var v in ViewBag.cities)
            {
                <option value="@v.ID">@v.nom</option>
            }

        </select>
    </div>
    <div class="mb-3" style="width:50%;">
        <label for="villeda">ville d arrete : </label>

        <select name="villeda">

            @foreach (var v in ViewBag.cities)
            {
                <option value="@v.ID">@v.nom</option>
            }

        </select>
    </div>
    <div class="mb-3" style="width:10%;">
        <label for="exampleInputEmail1" class="form-label">Capacité</label>
        <input type="number" class="form-control" name="cap" min="1" value="1">
    </div>
    <b>Clim</b>
    <div class="mb-3">
        <input type="radio" name="clim" value="1" checked> Oui
        <input type="radio" name="clim" value="0"> Non
    </div>
    <b>Wifi</b>
    <div class="mb-3">
        <input type="radio" name="wifi" value="1" checked> Oui
        <input type="radio" name="wifi" value="0"> Non
    </div>

    <button type="submit" class="btn btn-success">Ajouter</button>


</form>



@if (ViewBag.cars != null)
{

    <h3 class="mt-5 display-5"> Vos Voitures</h3>

    <table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Modele</th>
            <th scope="col">Capacité</th>
            <th scope="col">Clim</th>
            <th scope="col">Wifi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in ViewBag.cars)
            {
                <tr>
                    <td>
                        @v.modele
                    </td>
                    <td>
                        @v.capacite
                    </td>
                    @if (@v.clim == true)
                    {
                        <td>
                            Oui
                        </td>
                    }
                    else
                    {
                        <td>Non</td>
                    }
                    @if (@v.wifi == true)
                    {
                        <td>
                            Oui
                        </td>
                    }
                    else
                    {
                        <td>Non</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}