@if (ViewBag.Success != null)
{
    <div class="alert alert-success">
    @ViewBag.Success
</div>
}

@if (ViewBag.voitures.Length == 0)
{
    <div class="alert alert-danger">
    Veiullez Ajouter une voiture !
</div>
}

else
{


    <form action="" method="POST">

    <div class="mt-5 mb-3" style="width:50%;">
        <label for="autocar">Selectionner une de vos voiture : </label>

        <select name="autocar">

            @foreach (var v in ViewBag.voitures)
                {
                    <option value="@v.ID">@v.modele</option>
                }

            </select>
        </div>
        <div class="mb-3" style="width:50%;">
            <label for="villedp">Ville depart : </label>

            <select name="villedp">

                @foreach (var v in ViewBag.cities)
                {
                    <option value="@v.ID">@v.nom</option>
                }

            </select>
        </div>
        <div class="mb-3" style="width:50%;">
            <label for="villeda">ville d arrete : </label>

            <select name="villeda">

                @foreach (var v in ViewBag.cities)
                {
                    <option value="@v.ID">@v.nom</option>
                }

            </select>
        </div>
        <div class="mb-3" style="width:10%;">
            <label for="start">Date début :</label>

            <input type="date" name="d_debut" min='@DateTime.Today.ToString("yyyy-MM-dd")'>
        </div>
        <div class="mb-3" style="width:10%;">
            <label for="start">Start date fin:</label>

            <input type="date" name="d_fin" min='@DateTime.Today.AddDays(31).ToString("yyyy-MM-dd")'>
        </div>

        <div class="mb-3" style="width:10%;">
            <label for="start">Heure Depart (hh:mm) :</label>

            <input type="string" name="hd" style="width:90%;">
        </div>
        <div class="mb-3" style="width:10%;">
            <label for="start">Heure arrivé (hh:mm) :</label>

            <input type="string" name="ha" style="width:90%;">
        </div>
        <div class=" mb-3" style="width:10%;">
            <label for="start">Prix mensuel :</label>

            <input name="prix" style="width:90%;">
        </div>




        <button type="submit" class="btn btn-success">Ajouter</button>


    </form>



    @if (ViewBag.abos != null)
    {

        <h3 class="mt-5 display-5"> Vos Abonnements </h3>

        <table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Ville depart</th>
            <th scope="col">Ville darrive </th>
            <th scope="col">Date debute</th>
            <th scope="col">Date fin</th>
            <th scope="col">Prix Dh/mois</th>
            <th scope="col">Nombre des adheres</th>


        </tr>
    </thead>
    <tbody>
        @foreach (Abonnement a in ViewBag.abos)
                {
                    <tr>
                        <td>
                            @a.villeDep!.nom
                        </td>
                        <td>
                            @a.villeDar!.nom
                        </td>
                        <td>
                            @a.d_Debut?.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @a.d_Fin?.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @a.prix DH
                        </td>
                        <td>
                            @DataBase.getCtxDb().utilisateurs?.Count(u => u.adhere.Contains(a))
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }

}